
    <h1>HOMEPAGE!</h1>
    <form method="POST">
        <input name="firstName" placeholder="First" required/>
        <input name="lastName" placeholder="Last" required/>
        <input id="hiddenInput" name="signature" type="hidden">
        <canvas id="canv"></canvas>
        <button type="submit" id="submit">Submit</button>
    </form>
        <button id="clear">Clear signature</button>

