
    <h1>HOMEPAGE!</h1>
    <form method="POST">
        <input name="firstName"/>
        <input name="lastName"/>
        <input name="signature" type="hidden">
        <canvas id="canv"></canvas>
        <button type="submit">Submit</button>
    </form>
