
    <h1>HOMEPAGE!</h1>
    <form method="POST">
        <input name="firstName" placeholder="First"/>
        <input name="lastName" placeholder="Last"/>
        <input name="signature" placeholder="sig">
        <canvas id="canv"></canvas>
        <button type="submit">Submit</button>
    </form>

