<h1>Your Privacy is important to us</h1>
<div class = "privacy">
<p>By accepting your signature, we pledge to ensure that grannies everywhere find out just how much you care about their wellbeing.</p>
<br>    
<p>If your grandma is not made aware of your participation within six weeks of you signing the petition, please get in touch, and a member of our support team will be happy to help her find out just how much you mean to her.</p>
</div>