<h1>Thank you, {{name}}</h1>
{{!-- Include the user name here --}}
<h2>Your voice will help to make a difference!</h2>
<h2>Your signature...</h2>
<img id="signature" src="{{imgUrl}}">
<h2><a href = "/signedby">See who else signed...</a></h2>


