* {
    box-sizing: border-box;
    margin: 0;
}

.pencursor {
    cursor: url("./cursor.svg");
}

form {
    display: flex;
    flex-direction: column;
    width: 100px;
}
#canv {
    border: 2px solid red;
    width: 300px;
}
